<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel row">
		<div id="introBlurb">
			<div class="col-md-2 main-cv-image-container">
				<img class="main-cv-image" src="../img/CV_PHOTO_WEB.png">
			</div>
			<div class="col-md-10 main-cv-text ">
				I am a Full Stack web/online systems developer. I have more than 1 year <b>"PrestaShop"</b> expirience (from versions 1.4 to 1.7)
				Also more than 1 year experience with <b>Yii2</b> and various CRM projects. Now i'm currently working with <b>Angular 4</b> framework.<br/><br/>
				For me programming is not only work, but it's also a hobby.
			</div>
		</div>
		<br>
	</div>
</div>
